<div class="row">
  <div class="large-4 columns">
    <h2>Lost password?</h2>
    <p>
      Lost your password? Simply leave the password field blank and click the
      Log In button and we'll send you a coded link via email that will let you
      reset your password.
    </p>
  </div>
  <div class="large-8 columns">
    <h1>Log in</h1>

    <form action="/login" method="POST">
      <p>
        <input type="text" id="email" name="email" placeholder="Email address">
      </p>
      <p>
        <input type="password" id="password" name="password" placeholder="Password">
      </p>
      <p>
        <input type="submit" value="Log In" class="small button">
      </p>
    </form>
  </div>
</div>